<h1> <%= @post.title %></h1>
<div> <%= @post.body %></div>
<br>
<br>
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <br>
  <br>
<% end %>